
@font-face {
    font-family: 'Alpine';
    src: url(../Fonts/Alpino-Variable.ttf);
}

header {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 10px; 
    font-family: "Alpine", sans-serif;
    color: #FFFFFF;
}


nav {
    display: flex;
    justify-content: flex-end;
}

nav ul {
    list-style-type: none; 
    padding: 0;
    margin: 0; 
    display: flex; 
}

nav ul li {
    margin-left: 20px; 
}

nav ul li a {
    text-decoration: none; 
    color: #FFFFFF; 
    font-size: 1em; 
    font-weight: bold;
    transition: font-size 0.2s; 
}

nav ul li a:hover {
    font-size: 1.4em; 
    
}

body{
    background-color:#1A2980;
    background : -webkit-linear-gradient(
        to right,
        #26d0ce , 
        #1a2980
    );
    background: linear-gradient(
        to right, 
        #26d0ce , 
        #1a2980
    );
    font-family: "Alpine", sans-serif;
    
}

header h1:hover {
    font-size: 2em; 
    
}

