/*Fancy Tings*/

@font-face {
    font-family: 'Alpine';
    src: url(../Fonts/GeneralSans-Semibold.otf);
}

@keyframes colorChange {
    0% {
        color: rgb(0, 0, 0);
    }

    100% {
        color: #022ddc;
    }
}

/*NAV BAR*/

#nav-buttons {

    text-align: center;
    margin: 20px;
}


#next-button {
    border: none;
    background: none;
}


#next-button a {
    background: none;
    color: #000000;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    font-family: 'Alpine', sans-serif;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
}

#next-buttom a:visited {
    color: #000000;
    text-decoration: none;
}


#next-button a:hover {
    color: #022ddc;
    font-size: 2em;
    text-decoration: none;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Alpine", sans-serif;
    color: #000000;
    border-bottom: 3px solid #022ddc;

}

.section {
    height: 100vh;
    transition: background-color 1s ease;

}

.blue-section {
    height: 70vh;
    background-color: #022ddc;
    color: white;
    display: flex;
    /* Ensure this is here */
    justify-content: center;
    align-items: center;

}

h1 {
    margin-left: 53px;
}

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin-right: 20px;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 1em;
    font-weight: bold;
    transition: font-size 0.2s;
}

nav ul li a:hover {
    font-size: 1.4em;
    color: #022ddc;

}

body {
    background-color: #e5e5e5;

    font-family: "Alpine", sans-serif;
    margin: 0;


}

header h1:hover {
    font-size: 2em;

}

/*CONTENT*/

h2 {
    display: flex;
    padding: 10px;
    font-family: "Alpine", sans-serif;
    color: #022ddc;
    margin-left: 45px;
    margin-bottom: 5px;
}

p {
    display: flex;
    padding: 10px;
    font-family: "Alpine", sans-serif;
    color: #000000;
    font-size: large;
    margin-left: 50px;

}

h3 {
    display: flex;
    padding: 10px;
    font-family: "Alpine", sans-serif;
    color: #022ddc;
    margin-left: 45px;
}

#Bums {
    font-family: "Alpine", sans-serif;
    color: #050607;
    margin-left: 45px;

}


#Welcome {
    margin-left: 57px;
    font-size: 24px;
    animation: colorChange 5s infinite alternate;
}

#Copyright {
    margin-top: 50px;
    justify-content: center;
    bottom: 0;
}

/*HOME PAGE*/

#HomeInfo {
    width: 500px;
    color: #e5e5e5;
    text-align: center;
}

#coolio {
    margin-left: 57px;
    font-size: 65px;
    font-weight: bold;
    margin-bottom: -175px;
    position: relative;
    top: 150px;

}

#Lasco {
    font-family: "Alpine", sans-serif;
    color: #022ddc;
    font-size: 125px;
    margin-left: 50px;
    font-weight: bold;
    position: relative;
    top: 150px;

}

#Yur {
    mix-blend-mode: multiply;
    position: absolute;
    left: 865px;
    bottom: -170px;
    width: 609px;
    margin: 0;
    filter: grayscale();
}

.text-change {
    font-size: 24px;
    font-weight: bold;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.suffix {
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.fade-out {
    opacity: 0;
}

/*BLOG PAGE*/

#BlogList {
    position: relative;
    left: 800px;
    top: 50px;
    width: 500px;

}

p#BlogHeader {
    position: absolute;
    font-size: 125px;
    margin-left: 50px;
    top: 250px;
    color: #022ddc;
    width: 400px;
}


.BlogLink a {
    color: #000000;
    text-decoration: none;
    border-bottom: 3px solid #022ddc;
    width: 400px;
    padding-bottom: 25px;
    font-size: 35px;
    transition: all 0.3s ease;
    padding-right: 0px;
}

.BlogLink a:visited {
    color: #000000;
}

.BlogLink a:hover {
    color: #022ddc;
    text-decoration: none;
    font-size: 2.5em;
}

#INSPO {
    margin-left: 55PX;
}

li a {
    color: #022ddc;
}

img {
    margin-left: 60px;
}

/*ESSAY PAGE*/

#EssayList {
    position: relative;
    left: 800px;
    top: 210px;
    width: 500px;
}

.EssayLink a {
    color: #000000;
    text-decoration: none;
    border-bottom: 3px solid #022ddc;
    width: 400px;
    padding-bottom: 25px;
    font-size: 35px;
    transition: all 0.3s ease;
    padding-right: 0px;
}

.EssayLink a:visited {
    color: #000000;
}

.EssayLink a:hover {
    color: #022ddc;
    text-decoration: none;
    font-size: 2.5em;
}

#secretsauce {
    margin: 200px;
}

/*ABOUT PAGE*/

#Daddy {
    mix-blend-mode: multiply;
    position: absolute;
    left: 850px;
    bottom: -600px;
    width: 600px;
    margin: 0;
}

#AboutName {
    margin-left: 57px;
    font-size: 65px;
    font-weight: bold;
    margin-bottom: -175px;
    position: relative;
    position: relative;
    top: 150px;

}

#AboutTitle {
    font-family: "Alpine", sans-serif;
    color: #022ddc;
    font-size: 125px;
    margin-left: 50px;
    font-weight: bold;
    position: relative;
    top: 150px;

}

#AboutInfo {
    margin-left: 57px;
    width: 800px;
    margin-top: 200px;
}

#AboutInfo2 {
    margin-left: 57px;
    width: 800px;

}

#AboutInfo3 {
    margin-left: 57px;
    width: 800px;
    margin-bottom: 450px;

}

/*PORTFOLIO PAGE*/

.PortLink a {
    color: #000000;
    text-decoration: none;
    border-bottom: 3px solid #022ddc;
    width: 400px;
    padding-bottom: 25px;
    font-size: 35px;
    transition: all 0.3s ease;
    padding-right: 0px;
}

.PortLink a:visited {
    color: #000000;
}

.PortLink a:hover {

    background: linear-gradient(to right, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
    -webkit-background-clip: text;
    color: transparent;
    text-decoration: none;
    font-size: 2.5em;
}

.PortLink1 a {
    color: #000000;
    text-decoration: none;
    border-bottom: 3px solid #022ddc;
    width: 400px;
    padding-bottom: 25px;
    font-size: 35px;
    transition: all 0.3s ease;
    padding-right: 0px;
}

.PortLink1 a:visited {
    color: #000000;
}


.PortLink1 a:hover {

    color: #ff244c;
    text-decoration: none;
    font-size: 2.5em;
}

@media only screen and (max-width: 470px) {

    #coolio {
        margin-left: 50px;
        font-size: 30px;
        font-weight: bold;
        margin-bottom: -80px;
        position: relative;
        top: 150px;
        left: -40px;

    }

    #Lasco {

        font-size: 50px;
        margin-left: 50px;
        font-weight: bold;
        position: relative;
        top: 200px;
        left: -40px;

    }

    header {
        justify-content: center;
        flex-direction: column;
    }

    h1 {
        font-size: 20px;
        margin: 10px
    }

    h2{
        margin: 5px;
    }

    nav ul{
        margin: 10px;
    }

    nav ul li {
        margin: 5px;
    }

    p {
        margin: 0px;
    }

    #AboutName {
        margin-left: 50px;
        font-size: 30px;
        font-weight: bold;
        margin-bottom: -80px;
        position: relative;
        top: 150px;
        left: -20px;
    }

    #AboutTitle {
        font-size: 50px;
        margin-left: 50px;
        font-weight: bold;
        position: relative;
        top: 200px;
        left: -20px;
    }

    #AboutInfo,
    #AboutInfo2,
    #AboutInfo3 {

        margin-left: 25px;
        width: 300px;
    }

    #AboutInfo {
        margin-top: 0px;
    }

    #Daddy {
        position: relative;
        left: 90px;
        width: 225px;
        bottom: -900px;
        margin: 0;

    }

    #Copyright {
        font-size: 13px;
        margin: 10px;
    }

    p#BlogHeader {
        font-size: 50px;
        top: 200px;
        left: -30px;
        width: 300px;
    }

    #EssayList {
        position: relative;
        left: 25px;
        top: 210px;
        width: 300px;
    }

    .PortLink1 a, 
    .PortLink a{
        width: 300px;
    }

    .EssayLink a{
        width: 300px;
    }

    #BlogList{
        position: relative;
        left: 25px;
        top: 210px;
        width: 300px;
    }

    .BlogLink a{
        width: 300px;
    }

    img {
        width: 300px;
        margin: 10px;
    }
}

@media only screen and (min-width: 471px) and (max-width: 768px){

    #coolio {
       font-size: 50px;
       top: 225px;
       left: -10px;

    }

    #Lasco {
        top: 375px;

        font-size: 80px;

    }

    p{
        margin-left: 50px;
        margin-right: 50px;
    }

    #BlogList{
        position: relative;
        left: 10px;
        top: 450px;
        width: 300px;
    }

    #EssayList{
        position: relative;
        left: 10px;
        top: 450px;
        width: 300px;
    }

    #secretsauce{
        margin: 300px;
    }

    #AboutInfo,
    #AboutInfo2,
    #AboutInfo3 {
        
        width: 600px;
    }

    #Daddy {
        position: relative;
        left: 200px;
        width: 350px;
        bottom: -100px;
        margin: 0;

    }
}